<div class="container back" >
  <app-header></app-header>
  <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>

  <main [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </main>

 <!-- <div [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"
                   [@routerTransition]="getState(o)"
                   (@routerTransition.start)="onAnimationStart($event)"
                   (@routerTransition.done)="onAnimationDone($event)"></router-outlet>
  </div>-->


</div>
